<%= form_with(model: recipe, html: { class: "recipe-form-container" }) do |form| %>
  <% if recipe.errors.any? %>
    <div class="recipe-error-messages">
      <h2><%= pluralize(recipe.errors.count, "error") %> cannot save recipe:</h2>
      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "recipe-form-label" %>
    <%= form.text_field :name, class: "recipe-form-field" %>
  </div>

  <div>
    <%= form.label :preparation_time, class: "recipe-form-label" %>
    <%= form.number_field :preparation_time, class: "recipe-form-field" %>
  </div>

  <div>
    <%= form.label :cooking_time, class: "recipe-form-label" %>
    <%= form.number_field :cooking_time, class: "recipe-form-field" %>
  </div>

  <div>
    <%= form.label :description, class: "recipe-form-label" %>
    <%= form.text_area :description, class: "recipe-form-field" %>
  </div>

  <div>
    <%= form.submit "Save Recipe", class: "recipe-form-submit" %>
  </div>
<% end %>

<div class="back-to-recipe">
  <%= link_to "Back to Recipe", recipe, class: "back-to-recipe-link" %>
</div>
