<%= form_with(model: @food) do |form| %>
  <% if @food.errors.any? %>
    <div id="error_explanation" class="form_error">
      <h2><%= pluralize(@food.errors.count, "error") %>prohabited this food item from being saved:</h2>
      <ul>
        <% @food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input_group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "text_field_input" %>
  </div>
  <div class="input_group">
    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit, class: "text_field_input" %>
  </div>
  <div class="input_group">
    <%= form.label :price %>
    <%= form.text_field :price, class: "text_field_input" %>
  </div>
  <div class="input_group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "number_field_input" %>
  </div>
  <div class="submit">
    <%= form.submit 'Add Food', class: "submit_button" %>
  </div>
<% end %>
